@import '../../../styles/base.scss';

* {
  margin: 0;
  padding: 0;
}

.container {
  @include directionX;
  width: 100%;
  justify-content: center;
  .content {
    width: 90%;
    margin-top: 65px;
    @include directionY;
    justify-content: center;
    .title {
      @include directionX;
      justify-content: space-between;
      width: 100%;
      .titlePost {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 48px;
        font-style: italic;
        font-weight: 100;
        line-height: normal;
      }
      .userPost {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 24px;
        display: flex;
        align-items: center;
        font-style: italic;
        font-weight: 100;
        line-height: normal;
      }
    }
    .date {
      color: #3b97d3;
      font-family: 'Poppins', sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .image {
      margin-top: 51px;
      width: 100%;
      object-fit: cover;
      height: 691px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
    }
    .desc{
      margin: 65px 0px;
      color: black;
    }
  }
}