@import '@styles/base';

.login-page-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-box-container {
    background-color: var(--color-bg) !important;
    padding: 30px 20px;
    background-color: $color-white;
    color: --color-text;
    border-radius: 12px;
    width: 250px;

    @include apply-at-sm-size {
        width: 350px;
    }

    text-align: center;

    .login-form-container {
        margin-top: 40px;

        input[type='password'] {
            margin-bottom: 10px;
        }

        label {
            text-align: left;
            cursor: auto;
        }

        input {
            margin: 10px 0px;
            border: 2px solid $color-dark-blue;
            border-radius: 8px;
            width: 90%;
            padding: 10px;
        }

        button {
            margin: 20px 0px;
            padding: 10px;
            border-radius: 8px;
            background-color: $color-dark-blue;
            color: $color-white;
            width: 100%;
        }

    }

    p {
        font-size: 12px;
        margin: 5px 0px;
    }

    a {
        text-decoration: underline;
    }
}

