// Import base styles
@import '@styles/base';

.pageTitle {
    font-size: 40px !important;
    font-weight: 700 !important ;
    color: var(--color-text) !important;
    margin-top: 120px !important;    
    margin-bottom: 2% !important;
}

.filterContainer {
    @include directionX;
    gap: 10px;
    width: 100%;
    margin-bottom: 1%;
    
    .search {
        width: 100%;
        background-color: var(--color-bg);
    }

    .status {
        width: 30%;
        background-color: var(--color-bg);
    }
}

.addButton {
    color: var(--color-text) !important;
    background-color: var(--color-bg) !important;
    margin: 10px; // Add margin to the button for better spacing

    @media only screen and (max-width: 768px) {
        width: 100%; // Make the add button full-width on smaller screens
    }
}

.table {
    background-color: var(--color-bg);
    color: var(--color-text);

    .tableHead {
        font-weight: 700 !important;

        @media only screen and (max-width: 768px) {
            display: none; // Hide table header on smaller screens
        }
    }

    .modalContainer {
        color: var(--color-bg);
    }

    @media only screen and (max-width: 768px) {
        .modalContainer {
            width: 90%; // Adjust modal width for better display on smaller screens
        }
    }

    @media only screen and (max-width: 600px) {
        .table {
            font-size: 12px; // Decrease font size for better readability on smaller screens
        }

        .pageTitle {
            margin-top: 3%; // Further reduce top margin for the page title on smaller screens
        }
    }
}

@media only screen and (max-width: 768px) {
    .filterContainer {
        @include directionY;
        
        .search {
            width: 100%;
        }
    
        .status {
            width: 100%;
        }
    }
}
