@import '@styles/base';

.page-container{
    color: orangered;
    background-image: url("/home-wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    padding: 75px 50px;
    justify-content: center;
    @include apply-at-md-size{
        display: block;
        padding: 150px 0px 0px 200px;
    }
    .button-right{
        margin-left: 10px;
    }
}

button{
    padding: 10px;
    border-radius: 8px;
    border: 0;
    background-color: orangered;
    color: white;
    margin: 10px 0px;
}