@import '../../../../styles/base.scss';

.statusTodo {
    background-color: #9376E0;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
}

.statusProgress {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
}

.statusCompleted {
    background-color: green;
    padding: 10px;
    border-radius: 10px;
    font-weight: 700;
    text-align: center;
}