@import '@styles/base';

.headerWrapper {
  background-color: var(--color-bg) !important;
  box-shadow: 0 0.25rem 0.75rem rgba(25, 49, 83, 0.2) !important;
  position: sticky;
  top: 0;

  .contentWrapper {
    @include directionX;

    color: var(--color-text);
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;

    .logoImage {
      @include directionX;
      cursor: pointer;
      align-items: center;

      .logo {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
      }

      .title {
        font-weight: 700;
      }
    }

    .hamburger-icon-wrapper {
      display: block;

      @include apply-at-md-size {
        display: none;
      }
    }

    .toolbar {
      display: none;

      @include apply-at-md-size {
        @include directionX;
      }

      align-items: center;

      .theme {
        @include directionX;
        align-items: center;
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }

    .profile-button {
      display: flex;
    }
  }

  button {
    padding: 10px;
    background-color: var(--color-bg-tertiary);
    margin: 0 10px;
    border-radius: 8px;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.menu {
  @include directionX;
  align-items: center;

  .menuAvatar {
    width: 1rem;
    height: 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 0.5rem;
  }

  .menuLang {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
  }
}


a {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

p {
  margin: 0;
}

.toggle {
  @include directionX;
  align-items: center;
  cursor: pointer;

  .avatar {
    width: 1.2rem;
    height: 1.2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-right: 0.5rem;
  }

  .lang {
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
  }

  .arrow {
    font-size: 1rem;
  }
}

.theme-text {
  margin-left: 5px;
}